 <div class="section-3 wf-section">
    <div class="container-5 w-container">
      <div class="divformregister">
        <div class="w-layout-grid grid-3">
          <h1 id="w-node-_9c377abd-253c-3cf6-7e42-db86ee020ff7-e508d18b" class="heading-3">LOGIN</h1>
          <div id="w-node-_8352cabb-5576-8709-76e6-3cf7cf4aaa98-e508d18b" class="text-under-header">Please enter your Email &amp; Password</div>
          <div id="w-node-a02d591c-a5dc-8ca2-545d-3967d27d80a8-e508d18b" class="w-form">
            <form id="email-form" name="email-form" data-name="Email Form" method="get" class="form-3"><input type="email" class="text-field-imput w-input" maxlength="256" name="email" data-name="Email" placeholder="Your Email" id="email" required=""><input type="password" class="text-field-imput w-input" maxlength="256" name="field" data-name="Field" placeholder="Password" id="field" required="">
              <a href="{% url 'forgot_page' %}" class="link-block w-inline-block">
                <div class="forgot-pass">Forgot Password</div>
              </a><input type="submit" value="Login" data-wait="Please wait..." class="submit-button-5 w-button">
            </form>
            <div class="w-form-done">
              <div>Thank you! Your submission has been received!</div>
            </div>
            <div class="w-form-fail">
              <div>Oops! Something went wrong while submitting the form.</div>
            </div>
          </div>
          <div id="w-node-_13d4496f-eaec-3ec0-f34a-103e5d1c7024-e508d18b" class="text-account">Don’t have an account yet?</div>
          <a id="w-node-b7e71c4f-a1df-c3d1-d1e6-81f52f75796f-e508d18b" href="{% url 'register_page' %}" class="w-inline-block">
            <div class="log-in">Register</div>
          </a>
        </div>
      </div>
    </div>
  </div>
