{% load static %}
<div class="section-3 wf-section">
    <div class="container-5 w-container">
      <div class="divformregister">
        <div class="w-layout-grid grid-intro">
          <h1 id="w-node-_9c377abd-253c-3cf6-7e42-db86ee020ff7-e133dd37" class="heading-3 center">Welcome</h1>
          <div id="w-node-_8352cabb-5576-8709-76e6-3cf7cf4aaa98-e133dd37" class="text-under-header center">Ask Aaron Anything</div><img src="{% static  'appGPT/img/ask-aaron-logo.png'%}" id="w-node-_5888a74f-e9b3-f27b-828b-dede1b8482a5-e133dd37" height="250" width="250" alt="Ask Aaron" class="image-4">
          <div id="w-node-_83ee3aa7-1906-5e22-da2b-8e72bad6e049-e133dd37" class="w-layout-grid grid-4">
            <a id="w-node-_660106d0-9b58-05ab-d27c-ebb27d6eafe7-e133dd37" href="{% url 'register_page' %}" class="register w-button">Register</a>
            <a id="w-node-_7cf12f19-d93d-24f1-d619-fbfc88d2b957-e133dd37" href="{% url 'login_page' %}" class="login w-button">Login</a>
          </div>
        </div>
      </div>
    </div>
  </div>
